body{
        background-color: aqua;
    
        display: flex;
    
        justify-content: center;
    
        align-items: center;
    
        height: 100vh;
    
        flex-direction: column;

}

label{
    display: block;
    font-size: xx-large;
}

form {
    width: 800px;
    border: 3px solid rgb(177, 142, 142);
    padding: 20px;
    background: rgb(85, 54, 54);
    border-radius: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: xx-large;
}

*{

    font-family: cursive;

    box-sizing: padding-box;

}

body {
    background: #91a716;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}